<ion-view title="Lot Tech" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-close-circled"  ng-click="deleteChecked()"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="toDo-form5" class="list">
     <!-- <label class="item item-input item-stacked-label" id="toDo-input9">
        <span class="input-label">Add New Item</span>
        <input type="text" placeholder="add text here" ng-model="todoInput.data">
      </label>-->
      <button id="toDo-button24" class="button button-positive  button-block" ng-click="addNew()">Add Item</button>
    </form>

    <div class="list card" id="toDo-card25">
      <ion-item class="balanced" id="toDo-list-item31">Todos</ion-item>
      <form id="toDo-form6" class="list" ng-repeat="x in messages">
        <li class="item item-checkbox">
        <label class="checkbox">

          <!-- this is the checkbox element, you will see it is bound to the done setting in the items array -->
          <!-- When clicked it calls the update function to update the item to its done status -->
          <input type="checkbox" ng-model="x.done" ng-click="update($index)">
        </label>

        <!-- this is a span tag that shows the item text, I am using ng-bind, instead of the span tag we could have used {{x.todoText}} as well -->
        <span ng-class="{iscomplete: x.done}" class="item-text-wrap">{{x.stockNumber}} - </span>
          <span ng-class="{iscomplete: x.done}" class="item-text-wrap">{{x.note}} </span>
           <p>
             {{x.timestamp}}
            </p>
          <p>
            {{x.addedby}}
          </p>
      </li>
      </form>
    </div>
  </ion-content>
</ion-view>
