<ion-view title="Staff Listing" id="page6">
  <div class="bar bar-subheader">
    <label class="item item-input" style="width: 100%">
      <input type="text" placeholder="Search" ng-model="search.string1">
      <a ng-if="search.string1 != ''"
         on-touch="search.string1=''">
        <i class="icon ion-ios-close placeholder-icon"></i>
      </a>
    </label>
  </div>

  <ion-content padding="true" class="has-header has-subheader">
    <div class="list card" id="staffListing-card24" ng-repeat="staff in staffList | filter:search.string1">
      <ion-item class="item-avatar" id="staffListing-list-item27">
        <img src="{{staff.image}}">
        <h2>{{staff.name}}</h2>
        <p>{{staff.title}}</p>
        <p>Mobile: {{staff.mobile}}</p>
      </ion-item>
      <div class="item item-body" id="staffListing-list-item-container3">
        <div id="staffListing-button-bar1" class="button-bar">
          <button id="staffListing-button21" class="button button-positive  button-block" ng-click="callStaff( staff.phone )">Main</button>
          <button id="staffListing-button22" class="button button-calm  button-block" ng-click="callStaff( staff.mobile )" ng-if="staff.mobile.length > 5">Mobile</button>
          <button id="staffListing-button23" class="button button-balanced  button-block" ng-click="emailStaff( staff.email )" ng-if="staff.email.length > 5">Email</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
